/*header logo */

.logo {
  margin-left: 0;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  &-footer {
    margin-bottom: 20px;
    margin-top: 60px;
    display: inline-block;
  }
  &-color {
    color: $primary-white-color;
  }
  &-font {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: $accent-color;
    font-family: Raleway, sans-serif;
  }
  .studio {
    color: $title-text-color;
  }
}
